.footersize{
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 900;
    /* height: 70vh !important; */
    

    
}
.accordion-button{
    background-color: black !important;
    color: white !important;
    
} 
.accordion-item{
    border-radius:none !important;
    border: none !important;
}
.accod{
    min-height: 80vh;
} 
.accordion-button{
    border-left: solid 3px black ;
    border-top: solid 3px black;
    border-bottom: solid 1px grey !important;
}
.borderfind{
    border-bottom: solid 1px gray !important;
}
    
