.headnav{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    color: black !important;
}
.headfont{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    color: black !important;
}